{% extends '../layout.html' %}

{% block content %}

<h1 class="page-header">
  {{ user.username }}
  <div class="btn-group pull-right" role="group" aria-label="...">
    <a class="btn btn-danger" data-method="delete" data-confirm="Are you sure?" href="/users/{{user.id}}">Delete</a>
    <a class="btn btn-primary btn-export" href="">Export</a>
  </div>
</h1>

<div class="row">
  <div class="col-xs-12">
    <h2>Products</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Date Purchased</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          <tr>
            <td><a href="/products/{{ product.id }}">{{ product.name }}</a></td>
            <td>{{ product.type }}</td>
            <td>{{ product.purchaseDate | date('m/d/Y') }}</td>
          </tr> 
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>Useage</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Product</th>
          <th>Type</th>
          <th>Value</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {% for useage in useages %}
          <tr>
            <td><a href="/products/{{ useage.product.id }}">{{ useage.product.name }}</a></td>
            <td>{{ useage.product.type }}</td>
            {% if useage.product.type == 'iarmor' %}
              <td style="background-color: #0000FF; opacity: {{useage.value}}">{{ useage.value }}</td>
            {% else %}
              <td style="background-color: {{ useage.value }};}">{{ useage.value }}</td>
            {% endif %}
            <td>{{ useage.datetime | date('m/d/Y G:i') }}</td>
          </tr> 
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}