{% extends '../layout.html' %}

{% block content %}

<h1 class="page-header">
  Useage
  <div class="btn-group pull-right" role="group" aria-label="...">
    <a class="btn btn-primary btn-export" href="">Export</a>
  </div>
</h1>

<div class="row">
  <div class="col-xs-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Product</th>
            <th>User</th>
            <th>Type</th>
            <th>Value</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          {% for useage in useages %}
            <tr>
              <td><a href="/products/{{useage.product.id}}">{{ useage.product.name || "My Nails" }}</a></td>
              <td><a href="/users/{{useage.user.id}}">{{ useage.user.username || "n/a" }}</a></td>
              <td>{{ useage.product.type || "iPolish" }}</td>
              {% if useage.product.type == 'iarmor' %}
                <td style="background-color: #0000FF; opacity: {{useage.value}}">{{ useage.value }}</td>
              {% else %}
                <td style="background-color: {{ useage.value }};">{{ useage.value }}</td>
              {% endif %}
              <td>{{ useage.datetime | date('m/d/Y G:i') }}</td>
            </tr> 
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}