{% extends '../layout.html' %}

{% block content %}

<h1 class="page-header">
  Add Product
</h1>

<div class="row">
  <div class="col-xs-12 col-md-6 col-lg-4">
    <form action="/products" method="post">
      <div class="form-group">
        <label for="product-upc">UPC</label>
        <input type="text" class="form-control" id="product-upc" name="product[upc]" placeholder="UPC">
      </div>
      <div class="form-group">
        <label for="product-type">Type</label>
        <select class="form-control" id="product-type" name="product[type]">
          <option value="iArmor">iArmor</option>
          <option value="iPolish">iPolish</option>
        </select>
      </div>
      <div class="form-group">
        <label for="product-name">Name</label>
        <input type="text" class="form-control" id="product-name" name="product[name]" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="product-store">Store</label>
        <select class="form-control" id="product-store" name="product[store]">
          {% for store in stores %}
            <option value="{{ store.id }}">{{ store.name }} - {{ store.zipCode }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary btn-bloc btn-default">Submit</button>
    </form>
  </div>
</div>

{% endblock %}