{% extends 'layout.html' %}

{% block content %}

<h1 class="page-header">
  Products
  <div class="btn-group pull-right" role="group" aria-label="...">
    <a class="btn btn-primary btn-export" href="">Export</a>
  </div>
</h1>

<div class="row">
  <div class="col-xs-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>UPC</th>
            <th>Type</th>
            <th>Name</th>
            <th>Store</th>
            <th>Zip</th>
            <th>Date</th>
            <th>User</th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
            <tr>
              <td><a href="/products/{{ product.id }}">{{ product.upc }}</a></td>
              <td>{{ product.type }}</td>
              <td>{{ product.name }}</td>
              <td><a href="/stores/{{ product.store.id }}">{{ product.store.name }}</a></td>
              <td>{{ product.store.zipCode }}</td>
              <td>{{ product.purchaseDate | date('m/d/Y') }}</td>
              <td><a href="/users/{{ product.user.id }}">{{ product.user.username }}</td>
            </tr>
            
          {% endfor %}          
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}