{% extends 'layout.html' %}

{% block content %}

<h1 class="page-header">
  Dashboard
  <div class="btn-group pull-right" role="group" aria-label="...">
    <a class="btn btn-primary btn-export" href="">Export</a>
    <a class="btn btn-primary" href="/products/new">Add Product</a>
  </div>
</h1>

<div class="row">
  <div class="col-xs-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>UPC</th>
            <th>Type</th>
            <th>Name</th>
            <th>Store</th>
            <th>Zip</th>
            <th>Date</th>
            <th>Weekly Uses</th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
            <tr>
              <td><a href="/products/{{ product.id }}">{{ product.upc }}</a></td>
              <td>{{ product.type }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.store }}</td>
              <td>34994</td>
              <td>10/20/2015</td>
              <td>3</td>
            </tr>
            
          {% endfor %}          
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}